@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="https://i.imgur.com/qjOhTHD.png" />
        <h5>About us:</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget enim sodales, elementum sem et, consectetur eros. Donec in mauris in urna tincidunt dictum. In hac habitasse platea dictumst. Vivamus ac nibh est. Pellentesque lobortis, massa in viverra feugiat, nisl mauris vulputate massa, id luctus ante ligula nec tortor. Fusce mollis sit amet lorem in ultricies. Vivamus vehicula tempor magna ut vehicula. Donec vel rhoncus enim.

            Fusce odio arcu, ornare pretium eleifend ut, mollis nec risus. Curabitur porttitor vehicula tortor non sagittis. Praesent mollis ullamcorper efficitur. Donec at ex vulputate, malesuada elit in, iaculis orci. Ut euismod sem nec tempor varius. In eu erat lacus. Nunc vitae elit mi. Aenean suscipit placerat scelerisque. Maecenas porttitor lectus urna, vel tristique quam aliquet ac. Phasellus sit amet sollicitudin dolor. Curabitur eget iaculis tortor, sed fringilla ipsum. Aenean vel augue ullamcorper dolor commodo scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec consequat, elit vel eleifend porttitor, neque ipsum venenatis neque, a tempus orci nisl eu eros.
         </p>

        <a class="btn btn-info" asp-controller="Store" asp-action="Store">Proceed to store!</a>
    </div>
