
@{
    ViewData["Title"] = "Privacy";
}

<div>
    <h1>Privacy</h1>
    <p>
        Datan som behandlas på denna sida är enbart i syfte för att användaren skall kunna köpa produkterna som listas på hemsidan.<br /><br />
        Genom att använda denna sida går användaren med på att dela dina personuppgifter som du frivilligt skriver in när du registrerar dig<br />
        för hemsidan samt att godkänna processeringen och användningen av dina betaluppgifter och hem-address vid köp på hemsidan.<br />
        Dina betaluppgifter är enkrypterade och ingen av användarens data kommer att delas någonsin. <br />
        <br />
        Användaren har full kontrol över sin data och kan i kontrollpanelen av hemsidan radera sitt konto och all data<br />
        associerad med användaren. <br />
        <br />
        Användaren har även rättigheter att be om sina uppgifter och företaget är obligerat till att dela med sig till användaren.
    </p>
</div>