@model ITHS_Labb1_FelixGramell.ViewModels.StoreVM

@{
    ViewData["Title"] = "Store";
}

<h1>All keyboards</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th data-field="name" data-sortable="true">Keyboard name</th>
            <th data-field="price" data-sortable="true">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model.products)
        {
            <tr id="row">
                <td><img src="@p.Img_Url" style="height: 10vh; width: 14vh" /></td>
                <td><h5 class="text-primary"><a asp-controller="Store" asp-action="ViewProduct" asp-route-id="@p.Id">@p.Name</a></h5></td>
                <td>$@p.Price</td>
            </tr>
        }
    </tbody>
</table>