@model ITHS_Labb1_FelixGramell.ViewModels.StoreVM

@{
    ViewData["Title"] = "Store";
}

<h1>Felkans Tangentbordsbutik!</h1>

<div>
    <ul>
            @foreach (Product p in Model.products)
            {
                <li>
                    <div>
                        <h4>@p.Name</h4>
                        <p>@p.Price</p>
                        <img src="@p.Img_Url" alt="Product image"/>
                    </div>
                </li>
            }
    </ul>
</div>