@model ITHS_Labb1_FelixGramell.ViewModels.StoreVM

@{
    ViewData["Title"] = "Store";
}

<h1>Felkans Tangentbordsbutik!</h1>

<div class="card-deck">
    @foreach (Product p in Model.products)
    {
    <div class="card">
        <img class="card-img-top rounded" src="@p.Img_Url" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">@p.Name</h5>
            <p class="card-text">$@p.Price</p>
            <a class="btn btn-info"  asp-controller="Store" asp-action="ViewProduct" asp-route-id="@p.Id"> View more info </a>
        </div>
    </div>
    }
</div>